In [ ]:
import random

salary_list = [random.randint(1,10) for i in range(10_000_000)]
#print(salary_list)

In [ ]:
import statistics

In [ ]:
%%timeit

#add all values and divide by number of occuring

statistics.mean(salary_list)

2.79 s ± 416 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
import numpy as np

In [ ]:
%%timeit
np.mean(salary_list)

621 ms ± 37.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
my_array = np.array([1,2,3,4,5])
print(my_array.mean())

3.0

In [ ]:
import pandas as pd

file = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
print(file.total_bedrooms[1])

310.0

In [ ]:
file = pd.read_csv('/content/sample_data/data_jobs.csv')

<ipython-input-5-5a191915d7da>:1: DtypeWarning: Columns (5,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv('/content/sample_data/data_jobs.csv')

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242776 entries, 0 to 242775
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        242776 non-null  object
 1   job_title              242776 non-null  object
 2   job_location           242514 non-null  object
 3   job_via                242773 non-null  object
 4   job_schedule_type      238946 non-null  object
 5   job_work_from_home     242776 non-null  bool
 6   search_location        242776 non-null  object
 7   job_posted_date        242776 non-null  object
 8   job_no_degree_mention  242775 non-null  object
 9   job_health_insurance   242775 non-null  object
 10  job_country            242760 non-null  object
 11  salary_rate            9861 non-null    object
 12  salary_year_avg        6481 non-null    float64
 13  salary_hour_avg        3267 non-null    float64
 14  company_name           242773 non-null  object
 15  job_skills             205915 non-null  object
 16  job_type_skills        205915 non-null  object
dtypes: bool(1), float64(2), object(14)
memory usage: 29.9+ MB

In [ ]:
file[['job_title', 'job_location']].head(11)

,job_title,job_location
0,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT"
1,Data Analyst,"Guadalajara, Jalisco, Mexico"
2,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany"
3,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX"
4,Data Engineer- Sr Jobs,"Washington, DC"
5,GCP Data Engineer,Anywhere
6,Senior Data Engineer - GCP Cloud,"Dearborn, MI"
7,Data Engineer,Anywhere
8,Technology & Operations Business Analyst,"Copenhagen, Denmark"
9,Data Scientist II,Anywhere
10,Erfahrene*r Data Engineer*in (m/w/d),"Basel, Switzerland"

In [ ]:
file.iloc[10:15]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
10,Data Engineer,Erfahrene*r Data Engineer*in (m/w/d),"Basel, Switzerland",via LinkedIn,Full-time,False,Switzerland,2023-04-17 13:27:32,True,False,Switzerland,NaN,NaN,NaN,ROCKEN®,"['python', 'databricks', 'azure', 'spark']","{'cloud': ['databricks', 'azure'], 'libraries'..."
11,Data Engineer,Data Engineer,"Colorado Springs, CO (+3 others)",via The Muse,Full-time,False,"Texas, United States",2023-11-03 13:06:51,False,True,United States,NaN,NaN,NaN,Philips,"['python', 'qlik']","{'analyst_tools': ['qlik'], 'programming': ['p..."
12,Data Analyst,Stagiaire Data Analyst (H/F) - Lyon (69006),"Lyon, France",via Jobijoba,Full-time and Internship,False,France,2023-12-22 13:24:41,False,False,France,NaN,NaN,NaN,Engie,"['sql', 'php', 'excel', 'power bi', 'sap', 'ji...","{'analyst_tools': ['excel', 'power bi', 'sap']..."
13,Senior Data Engineer,Senior Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"Texas, United States",2023-11-15 13:08:52,True,True,United States,NaN,NaN,NaN,Nayya,"['python', 'sql', 'go', 'ruby', 'ruby', 'javas...","{'cloud': ['aws'], 'other': ['terraform'], 'pr..."
14,Data Engineer,Data Engineer,"Rio de Janeiro, State of Rio de Janeiro, Brazil",via BeBee,Full-time,False,Brazil,2023-07-13 13:17:51,False,False,Brazil,NaN,NaN,NaN,Oowlish,"['mongodb', 'mongodb']","{'databases': ['mongodb'], 'programming': ['mo..."

In [ ]:
file.loc[5:10,['job_title', 'job_location']]

                                   job_title         job_location
5                          GCP Data Engineer             Anywhere
6          Senior Data Engineer  - GCP Cloud         Dearborn, MI
7                              Data Engineer             Anywhere
8   Technology & Operations Business Analyst  Copenhagen, Denmark
9                          Data Scientist II             Anywhere
10      Erfahrene*r Data Engineer*in (m/w/d)   Basel, Switzerland

In [ ]:
file[['job_title', 'job_location']].iloc[5:10]

                                  job_title         job_location
5                         GCP Data Engineer             Anywhere
6         Senior Data Engineer  - GCP Cloud         Dearborn, MI
7                             Data Engineer             Anywhere
8  Technology & Operations Business Analyst  Copenhagen, Denmark
9                         Data Scientist II             Anywhere

In [ ]:
file['job_title_short'].unique()

array(['Senior Data Engineer', 'Data Analyst', 'Data Engineer',
       'Business Analyst', 'Data Scientist', 'Machine Learning Engineer',
       'Senior Data Analyst', 'Cloud Engineer', 'Senior Data Scientist',
       'Software Engineer'], dtype=object)

In [ ]:
file[file.job_title_short == 'Data Analyst']

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,NaN,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
12,Data Analyst,Stagiaire Data Analyst (H/F) - Lyon (69006),"Lyon, France",via Jobijoba,Full-time and Internship,False,France,2023-12-22 13:24:41,False,False,France,NaN,NaN,NaN,Engie,"['sql', 'php', 'excel', 'power bi', 'sap', 'ji...","{'analyst_tools': ['excel', 'power bi', 'sap']..."
18,Data Analyst,Data Analyst,"Warsaw, Poland",via Praca Trabajo.org,Full-time,False,Poland,2023-10-16 13:36:54,False,False,Poland,NaN,NaN,NaN,Glovo,"['sql', 'python', 'r', 'redshift', 'pandas', '...","{'analyst_tools': ['excel', 'looker', 'tableau..."
31,Data Analyst,Stage - Data Analyst F/H,"Paris, France",via LinkedIn,Full-time and Internship,False,France,2023-10-19 13:59:31,False,False,France,NaN,NaN,NaN,GROUPE BON MARCHÉ : Le Bon Marché Rive Gauche ...,['sql'],{'programming': ['sql']}
34,Data Analyst,Data Analyst als Marketing Manager Automation ...,"Erlangen, Germany",via Central Illinois Proud Jobs,Full-time,False,Germany,2023-02-23 13:31:28,True,False,Germany,NaN,NaN,NaN,DEFACTO GmbH,['sap'],{'analyst_tools': ['sap']}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242758,Data Analyst,Data Privacy Analyst (FE),"Mandaluyong, Metro Manila, Philippines",via LinkedIn,NaN,False,Philippines,2023-09-06 07:09:40,False,False,Philippines,NaN,NaN,NaN,Accenture in the Philippines,['go'],{'programming': ['go']}
242759,Data Analyst,Data Analyst- Trainee Freshers,Anywhere,via LinkedIn,Full-time,True,India,2023-09-13 07:10:47,False,False,India,NaN,NaN,NaN,SAZ India,"['sql', 'javascript', 'sas', 'sas', 'excel', '...","{'analyst_tools': ['sas', 'excel', 'spss'], 'p..."
242761,Data Analyst,CP Analyst – Data,"Makati, Metro Manila, Philippines",via Trabajo.org,Full-time,False,Philippines,2023-03-06 08:08:17,False,False,Philippines,NaN,NaN,NaN,Shell,"['shell', 'sap']","{'analyst_tools': ['sap'], 'programming': ['sh..."
242765,Data Analyst,"Senior, Data Analyst","Dallas, TX",via BeBee,Full-time,False,"Texas, United States",2023-12-03 07:00:40,False,True,United States,NaN,NaN,NaN,Walmart,"['sql', 'nosql', 'python', 'scala', 'r', 'gcp'...","{'analyst_tools': ['looker', 'tableau', 'power..."
242766,Data Analyst,Data Management Analyst,"Montevideo, Montevideo Department, Uruguay","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Uruguay,2023-08-18 07:49:12,True,False,Uruguay,NaN,NaN,NaN,PriceStats Uruguay,NaN,NaN

In [ ]:
file[(file.job_title_short == 'Data Analyst') & (file.salary_year_avg > 100000)]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
410,Data Analyst,IT Business Lead Data Analyst - VP - Hybrid,"Atlantic Beach, FL",via ComputerJobs.com,Full-time,False,Georgia,2023-01-10 13:59:02,False,False,United States,year,133285.0,NaN,Citi,"['sql', 'word', 'excel', 'visio', 'powerpoint'...","{'analyst_tools': ['word', 'excel', 'visio', '..."
1555,Data Analyst,Data Analyst/Engineer (M/F/D),"Aveiro, Portugal",via Ai-Jobs.net,Full-time,False,Portugal,2023-04-25 13:27:25,False,False,Portugal,year,111175.0,NaN,Bosch Group,"['databricks', 'spark']","{'cloud': ['databricks'], 'libraries': ['spark']}"
1681,Data Analyst,Data Analyst,"Irvine, CA",via Ai-Jobs.net,Full-time,False,"California, United States",2023-03-23 13:01:14,False,True,United States,year,111175.0,NaN,Western Digital,"['sql', 'tableau', 'power bi', 'excel']","{'analyst_tools': ['tableau', 'power bi', 'exc..."
1684,Data Analyst,Data Analyst - Data17829,"Tampa, FL",via Indeed,Full-time,False,"Florida, United States",2023-07-18 13:02:09,True,True,United States,year,120000.0,NaN,Acrisure,"['shell', 'sql', 'azure', 'databricks', 'linux']","{'cloud': ['azure', 'databricks'], 'os': ['lin..."
1867,Data Analyst,Data Integration Analyst (West Coast/Chicago),"Chicago, IL",via Ai-Jobs.net,Full-time,False,"Illinois, United States",2023-07-18 13:01:47,False,False,United States,year,101500.0,NaN,Forsta,"['php', 'python', 'express']","{'programming': ['php', 'python'], 'webframewo..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239735,Data Analyst,Supervisory Operations Research Analyst (Data ...,"Chattanooga, TN",via ZipRecruiter,Full-time and Temp work,False,Georgia,2023-12-01 07:42:49,False,False,United States,year,116393.0,NaN,Internal Revenue Service,['go'],{'programming': ['go']}
240910,Data Analyst,"Senior specialist, Data Analyst",Taiwan,via Ai-Jobs.net,Full-time,False,Taiwan,2023-08-08 07:18:30,True,False,Taiwan,year,111175.0,NaN,Coupang,['sql'],{'programming': ['sql']}
240949,Data Analyst,Research Scientist / Research Engineer (Greate...,United States,via Built In NYC,Full-time,False,"Texas, United States",2023-05-15 07:20:31,False,False,United States,year,220000.0,NaN,MosaicML,"['go', 'pytorch']","{'libraries': ['pytorch'], 'programming': ['go']}"
241725,Data Analyst,Security Vuln Metrics & Data Analyst,"Heredia Province, Heredia, Costa Rica",via Ai-Jobs.net,Full-time,False,Costa Rica,2023-08-12 07:30:30,False,False,Costa Rica,year,111175.0,NaN,Experian,"['sql', 'aws', 'azure', 'gcp', 'tableau', 'exc...","{'analyst_tools': ['tableau', 'excel'], 'async..."
242081,Data Analyst,Real Estate Data Analyst 1LOD,"Los Angeles, CA",via Ladders,Full-time,False,"California, United States",2023-01-19 07:17:17,False,False,United States,year,115000.0,NaN,City National Bank (CNB),['excel'],{'analyst_tools': ['excel']}

In [ ]:
file.job_posted_date[0]

'2023-06-16 13:44:15'

In [ ]:
pd.to_datetime(file.job_posted_date)

0        2023-06-16 13:44:15
1        2023-01-14 13:18:07
2        2023-10-10 13:14:55
3        2023-07-04 13:01:41
4        2023-08-07 14:29:36
                 ...
430220   2023-11-08 16:23:47
430221   2023-03-02 16:41:58
430222   2023-03-29 16:00:50
430223   2023-11-15 16:16:12
430224                   NaT
Name: job_posted_date, Length: 430225, dtype: datetime64[ns]

In [ ]:
file['job_posted_date'] = pd.to_datetime(file.job_posted_date)
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430225 entries, 0 to 430224
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        430225 non-null  object
 1   job_title              430224 non-null  object
 2   job_location           429701 non-null  object
 3   job_via                430221 non-null  object
 4   job_schedule_type      423565 non-null  object
 5   job_work_from_home     430224 non-null  object
 6   search_location        430224 non-null  object
 7   job_posted_date        430224 non-null  datetime64[ns]
 8   job_no_degree_mention  430224 non-null  object
 9   job_health_insurance   430224 non-null  object
 10  job_country            430200 non-null  object
 11  salary_rate            17690 non-null   object
 12  salary_year_avg        11250 non-null   float64
 13  salary_hour_avg        6216 non-null    float64
 14  company_name           430218 non-null  object
 15  job_skills             363056 non-null  object
 16  job_type_skills        363056 non-null  object
 17  job_posted_month       430224 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(14)
memory usage: 59.1+ MB

In [ ]:
file['job_posted_month'] = file.job_posted_date.dt.month.

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11250 entries, 108883 to 327439
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        11250 non-null  object
 1   job_title              11250 non-null  object
 2   job_location           11107 non-null  object
 3   job_via                11250 non-null  object
 4   job_schedule_type      11240 non-null  object
 5   job_work_from_home     11250 non-null  object
 6   search_location        11250 non-null  object
 7   job_posted_date        11250 non-null  datetime64[ns]
 8   job_no_degree_mention  11250 non-null  object
 9   job_health_insurance   11250 non-null  object
 10  job_country            11250 non-null  object
 11  salary_rate            11250 non-null  object
 12  salary_year_avg        11250 non-null  float64
 13  company_name           11250 non-null  object
 14  job_skills             10298 non-null  object
 15  job_type_skills        10298 non-null  object
 16  job_posted_month       11250 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(14)
memory usage: 1.5+ MB

In [ ]:
file.drop('salary_hour_avg', axis=1, inplace = True)

In [ ]:
file.dropna(subset='salary_year_avg', inplace = True)