In [1]:
import pandas as pd
import matplotlib as plt
import ast 

file = pd.read_csv('C:\\Users\\akash\\Downloads\\PYTHON\\data_jobs.csv')

#file.job_posted_date = pd.to_datetime(file.job_posted_date)

#file['job_posted_month'] = file.job_posted_date.dt.month_name()

file_new = file.copy()

file_new = file_new[(file_new.job_skills.notna()) & (file_new.job_country == 'Canada')][['job_title_short','job_skills']]

file_new['job_skills'] = file_new.job_skills.apply(lambda skills: ast.literal_eval(skills))  

file_new['job_skills'].explode().value_counts()

job_skills
sql         8810
python      8433
aws         4185
azure       4013
spark       3484
            ...
lisp           1
erlang         1
electron       1
cordova        1
heroku         1
Name: count, Length: 216, dtype: int64