In [13]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading File
file = pd.read_csv('C:/Users/akash/Downloads/PYTHON/data_jobs.csv')

# Cleaning Data and checking for data type 
file.job_posted_date = pd.to_datetime(file.job_posted_date)

In [7]:
# Calc Median for salary_year_avg
median_year_salary = file.salary_year_avg.median()
median_year_salary

115000.0

In [8]:
# calculate Median for salary_hour_avg
median_hour_salary = file.salary_hour_avg.median()
median_hour_salary

45.97999954223633

In [17]:
file_fill = file
file_fill.salary_year_avg = file.salary_year_avg.fillna(median_year_salary)
file_fill.salary_hour_avg = file.salary_hour_avg.fillna(median_hour_salary)

In [22]:
file_fill.loc[0:5, ['salary_year_avg', 'salary_hour_avg']]

   salary_year_avg  salary_hour_avg
0         115000.0            45.98
1         115000.0            45.98
2         115000.0            45.98
3         115000.0            45.98
4         115000.0            45.98
5         115000.0            45.98

In [25]:
# DROP DUPLICATE

file_unique = file_fill

file_unique = file_unique.drop_duplicates(subset= ['job_title_short', 'company_name'])

print('length - original = ' , len(file_fill))
print('length after drop = '  ,len(file_unique))
print('TOTAL no of row dropped = ', len(file_fill)- len(file_unique))

length - original =  785741
length after drop =  241850
TOTAL no of row dropped =  543891

In [ ]:
file_unique = file_unique.drop(columns= ['job_via', 'search_location', 'job_health_insurance', 'salary_rate'])

In [32]:
file_unique = file_unique.drop(columns= ['job_no_degree_mention'])

In [ ]:
file_unique