In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file = pd.read_csv('C:\\Users\\akash\\Downloads\\PYTHON\\data_jobs.csv')

In [22]:
file_new = file.dropna(subset='salary_year_avg')

In [ ]:
file_new = file_new.head(50).copy()
file_new

In [ ]:
#lets make a new table with diff informataion like median salary for diff job types and diff skill types 
# you can agg any number of fucntion based on your needs

salary_stats = file_new.groupby('job_title_short').agg(
    median_salary = ('salary_year_avg', 'median') 
)

salary_stats

                           median_salary
job_title_short
Business Analyst                 94000.0
Data Analyst                     89625.0
Data Engineer                   125000.0
Data Scientist                  135750.0
Machine Learning Engineer        92250.0
Senior Data Analyst              87500.0
Senior Data Engineer            165000.0
Software Engineer               275250.0