# Most demanded skills for top-3 data roles

1- clean up skill column 
2- calc skill count based on job-title short 
3- calc skill % 
4- Plot finding

In [15]:
import pandas as pd 
import matplotlib.pyplot as plt 
import ast 

file = pd.read_csv("C://Users//akash//Downloads//PYTHON//data_jobs.csv")

In [ ]:
#def clear_list(skills):
 #   if pd.notna(skills):
  #      return(ast.literal_eval(skills))
   # else:
    #    return(skills)
    
#file.job_skills = file.job_skills.apply(clear_list)

#-------------------------------------------------------------------------------------------------
file.dropna(subset = ['job_skills'], inplace= True)
file.job_skills = file.job_skills.apply(lambda i: ast.literal_eval(i))

In [25]:
# calc skill count based on job_title_short 

df_us = file[file.job_country == 'United States']

In [ ]:
#calc skills listed for every job_title short 


df_us_explode = df_us.explode('job_skills')

In [31]:
df_us_explode.groupby('job_title_short')['job_skills'].agg('size')

job_title_short
Business Analyst              25314
Cloud Engineer                 1845
Data Analyst                 243864
Data Engineer                248719
Data Scientist               315081
Machine Learning Engineer      5414
Senior Data Analyst           51662
Senior Data Engineer          76619
Senior Data Scientist         72064
Software Engineer              8858
Name: job_skills, dtype: int64

job_skills	job_title_short
python	Data Analyst
python	Data Analyst
excel	Data Analyst
python	Data Scientist
sql	Data Scientist

Then this line returns:

job_skills  job_title_short
excel       Data Analyst       1
python      Data Analyst       2
python      Data Scientist     1
sql         Data Scientist     1

In [60]:
# getting top 3 skills 

df_skill_count = df_us_explode.groupby(['job_skills', 'job_title_short']).size()

df_skill_count = df_skill_count.reset_index(name= 'Skill Count')

df_skill_count = df_skill_count.sort_values('Skill Count', ascending= False).head(3)

df_skill_count

     job_skills job_title_short  Skill Count
1209     python  Data Scientist        42379
1521        sql    Data Analyst        34452
1523        sql  Data Scientist        30034

In [69]:
# getting top 3 roles 

job_titles = df_us_explode.job_title_short.value_counts().head(3)
job_titles = job_titles.index
job_titles

Index(['Data Scientist', 'Data Engineer', 'Data Analyst'], dtype='object', name='job_title_short')